<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alz.order.mapper.OrderMapper">

	<insert id="insertOrder" parameterType="alz.order.domain.OrderDTO">
		INSERT INTO ALZ_ORDER
		(ID,USER_ID,NAME,PHONE,METHOD,STATE,TOTAL_PRICE)
		VALUES
		(#{id}, #{userId}, #{name}, #{phone}, #{method},#{state},#{totalPrice})
	</insert>

	<insert id="insertOrderDetail"
		parameterType="alz.order.domain.OrderDetailDTO" >
		insert into alz_order_detail
		(id, order_id, merchandise_id, user_id)
		select alz_order_detail_seq.nextval, #{orderId}, merchandise_id, user_id
		from alz_cart
		where user_id = #{userId}
	</insert>

	<delete id="removeCart">
		delete alz_cart
		where user_Id = #{userId}
	</delete>
	
	<insert id="addOrder" parameterType="alz.order.domain.OrderAllDTO">
		INSERT INTO ALZ_ORDER
		(ID,USER_ID,NAME,PHONE,METHOD,STATE,TOTAL_PRICE)
		VALUES
		(#{id}, #{userId}, #{name}, #{phone}, #{method},#{state},#{totalPrice})
	</insert>

	<insert id="addOrderDetail"
		parameterType="alz.order.domain.OrderAllDTO" >
		<selectKey keyProperty="id" order="BEFORE" resultType="long">
			SELECT alz_order_detail_seq.nextval FROM dual
		</selectKey>
		insert into alz_order_detail
		(id, order_id, merchandise_id, user_id)
		select #{id}, #{orderId}, merchandise_id, user_id
		from alz_cart
		where user_id = #{userId}
	</insert>


</mapper>