<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alz.order.mapper.OrderMapper">

	<insert id="order" parameterType="alz.order.domain.OrderDTO">
		<selectKey keyProperty="id" order="BEFORE" resultType="long">
			SELECT alz_order_seq.nextval FROM dual
		</selectKey>
		INSERT INTO	ALZ_ORDER
		(ID,USER_ID,NAME,PHONE,METHOD,STATE,ORDER_AT)
		VALUES 
		(#{id}, #{userId}, #{name}, #{phone}, #{method},#{state}, sysdate)
	</insert>
	
	<insert id="orderDetail" parameterType="alz.order.domain.OrderDTO">
 		insert into alz_order_details
 		(id, order_Id, merchandise_name, merchandise_price, merchandise_id,order_state)
     	select alz_order_details_seq.nextval, #{orderId}, gdsNum, cartStock
        from alz_cart   
</insert> 

<delete id="cartDelete">
 delete alz_cart
     where user_Id = #{userId}
</delete>


</mapper>